.container{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.card{
    min-width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.confirmed{
    border-bottom: 4px solid yellow;
}

.active{
    border-bottom: 4px solid salmon;
}

.recovered{
    border-bottom: 4px solid greenyellow;
}

.deaths{
    border-bottom: 4px solid red;
}

